{% extends 'base.html' %}

{% block title %}Quiz Details - {{ quiz.title }}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8 offset-md-2">
        <div class="card">
            <div class="card-header bg-primary text-white">
                <h3>{{ quiz.title }}</h3>
            </div>
            <div class="card-body">
                <p class="lead">{{ quiz.description }}</p>
                
                <div class="alert alert-info">
                    <h5>Quiz Instructions:</h5>
                    <ul>
                        <li>You will have 30 seconds to answer each question</li>
                        <li>You can mark an answer as correct or wrong</li>
                        <li>You can skip a question if you're unsure</li>
                        <li>You can leave the quiz at any time</li>
                        <li>Your progress and timing will be recorded</li>
                    </ul>
                </div>
                
                <div class="d-grid gap-2 col-6 mx-auto mt-4">
                    <a href="{{ url_for('quiz.start', quiz_id=quiz.id) }}" class="btn btn-success btn-lg">Start Quiz</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
